@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Red+Hat+Display:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nanum+Myeongjo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;900&family=Estonia&family=Lobster+Two:ital@1&display=swap');
body {
  margin: 0;
  /* height: 100vh; */
  font-family: "Red Hat Display", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
  width: 100%;
  
}

.side-bar {
  
  width: 15%;
  animation: logo 1s 0.6s cubic-bezier(0.575, 0.005, 0.285, 1.005) forwards;
}
.logo {
  text-align: center;
}
.logo span {
  width: 100%;
  font-family: "Great Vibes", cursive;
  font-size: 20px;
  position: relative;
  top: 76px;
  z-index: 100;
  animation: logo 1s 0.6s cubic-bezier(0.575, 0.005, 0.285, 1.005) forwards;
  color: white;
}

.logo > img {
  margin: auto;
  width: 90%;
  opacity: 0;
  animation: logo 1s 0.6s cubic-bezier(0.575, 0.005, 0.285, 1.005) forwards;
  height: auto;
  display: flex;
}
.main{
  overflow-y:scroll;
  overflow-x:hidden;
  width: 85%;
}




.nav-items {
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  animation: nav-item 1s 0.9s cubic-bezier(0.575, 0.005, 0.285, 1.005) forwards;
  margin-top: 5em;
}

.nav-item {
  
  padding: 9px 0 9px 0;
  text-align: center;
  width: 100%;
  font-family: "EB Garamond", serif;
  font-size: 18px;
}

.nav-item:hover {
  background: #7e777752;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

.hr {
  width: 2em;
  background-color: #e4c993;
  height: 0.8px;
  animation: nav-item-hr 1s 0.9s cubic-bezier(0.575, 0.005, 0.285, 1.005)
    forwards;
  transform: scaleX(90%);
}

.active {
  color: #85621c;
}

.top-bar {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.contact {
  font-size: 15px;
  padding-top: 5px;
}
.contact span {
  
  padding-bottom: 5vh;
}
.contact-bottom-border {
  width: 100%;
  transform: scaleX(0);
  height: 0.5px;
  transition: all cubic-bezier(0.575, 0.005, 0.285, 1.005) 0.7s;
  margin-top: 1px;
  background-color: #e4c993;
}
.contact:hover .contact-bottom-border {
  transform: scaleX(1);
}
/* book now button */
.booknow-button {
  border: 0px solid black;
  background:none;
  padding: 7px 18px;
  margin-left: 20px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
}

.button-overlay {
  position: absolute;
  margin-left: 20px;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  flex-direction: column;
  width: 116px;
  /* transition: all 1s; */
  height: 33px;
}
.border-top-bottom {
  /*width should become 0 on hover*/
  background-color: black;
  transition: width 750ms cubic-bezier(0.575, 0.005, 0.285, 1.005),
    opacity 750ms cubic-bezier(0.575, 0.005, 0.285, 1.005);
  width: 100%;
  height: 1px;
}
.booknow-button-border-middle {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.booknow-button-border-middle > div {
  /*height should become 0 on hover*/
  height: 100%;
  transition: height 750ms cubic-bezier(0.575, 0.005, 0.285, 1.005),
    opacity 750ms cubic-bezier(0.575, 0.005, 0.285, 1.005);
  width: 1px;
  background-color: black;
}
.booknow-button-right-bar {
  width: 0.7px !important;
}
.booknow-button-left-bar {
  align-self: flex-end;
}
.booknow-button-bottom-bar {
  align-self: flex-end;
}
.button-overlay:hover .booknow-button-border-middle > div {
  height: 0;
}
.button-overlay:hover .border-top-bottom {
  width: 0;
}

@keyframes nav-item {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* main  */

.hero-image {
  width:100vw;
  height: 80vh;
  opacity: 0;
  
  animation: hero-image 2s 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  margin-bottom: 70px;
  font-family: "Great Vibes", cursive;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);


}
.hero-image div {
  position: relative;
  color:  whitesmoke;
  font-weight: 100;
  font-size: 35px;
  font-style: italic;
  border-bottom: 0px solid white;
  animation: hero-div 2s 1.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  top: -85%;
  left: 5%;
  overflow: hidden;
  transform: scaleY(1.3);
  cursor: default;
  width: 10em;
  height: 0em;
}
.hero-image:hover {

  transform: perspective(800px) rotateY(1deg) rotateX(0deg) scale(1);
  
  filter: blur(0);
  opacity: 1;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes hero-image {
  from {
    height: 0%;
  }
 
  to{
    opacity: 100%;
    height: 90%;
  }
}
@keyframes nav-item-hr {
  0% {
    transform: scaleX(3);
  }
  100% {
    transform: scaleX(0.7);
  }
}
@keyframes hero-div {
  0% {
    height: 0em;
    border-bottom: 1px solid white;
  }
  100% {
    height: 1.3em;
    border-bottom: 1px solid white;
  }
}


.main::-webkit-scrollbar {
  height: 2px;
  width: 5px;
}

.main::-webkit-scrollbar-track {
  background: transparent;
  width: 3px;
}

.main::-webkit-scrollbar-thumb {
  background: rgba(85, 85, 85, 0.767);
}

.main::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* about */
.about h1 {
  text-align:center;
  animation: logo 1s 0.6s cubic-bezier(0.575, 0.005, 0.285, 1.005);
  color:black;
  font-family: 'Playball', cursive;
  padding-bottom:8vh;
  margin-top:0;
  text-decoration: underline;
  
}
.about .icon img{
  height:7vh;
  width:5vw;
}

/* intro */
.about{
  position:static;
}
.txt, .moto{
  animation: logo 1s 0.6s cubic-bezier(0.575, 0.005, 0.285, 1.005) forwards;
  font-family: 'Playball', cursive;
  line-height: 7vh;
  font-size:1.5em;
  position: relative;
  color:black;
  opacity: 100%;
  padding-left: 5vw;
  padding-bottom:10vh; 
}
/* .about img{
  margin-top: 5vh;
  margin-left: 25vw;
  border-radius: 10%;
  width:25vw;
  height:50vh;
} */

.donate{
  
  padding-left:5vw;
  padding-right:5vw;
  padding-top:5vh;
  padding-bottom: 5vh;
  background:#DDDDDD;
}
.icon img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  height:5vh;
  width:3vw;
}
.wom img{
  display: inline;
  padding-right: 5vw;
  padding-bottom: 25vw;
  float: left;
}
input[type="radio"]{
  margin:0;
}
.r img{
  height:5vh;
  width:3vw;

}


form, .donate h1{
  color: #855e11;
  text-align:center;
  padding-bottom:5vh;
  font-family: 'Playball', cursive;
  font-size:1.8em;
  /* display: inline; */
  
}
.donate h1{
  margin-top:0;
  text-decoration: underline;
  color:black;
  font-size:2em;
  text-align:center;
}
.form .icon img{
  margin:0;
display:inline;
}
form input{
border:black;
padding-left:1vw;
  padding-right:1vw;
  padding-top:1vh;
  padding-bottom: 1vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
height: 5vh;
}
input[type="submit"]{
  font-family: 'Playball', cursive;
  font-size:1em;
  height:9vh;
  background: #7e777752;
  
  border:ridge;
}
@keyframes side-bar {
  0% {
    opacity: 0%;
    
  }
  100% {
    opacity: 100%;
    
  }
}

@keyframes logo {
  0% {
    opacity: 0%;
    transform: translateX(-30px);
  }
  100% {
    opacity: 100%;
    /* width: 90%; */
    transform: translateX(0);
  }
}


.t-bg{
  content:"";
  background-image: url("images/bg6.jpg");
  background-position: center;
  background-repeat: no-repeat;

  background-blend-mode: hue;
  background-size: cover;
  opacity: 100%; 
  position:absolute;
  width:100%;
  height:100%;
  z-index:-2;
  top:0;
  left:0;
  opacity:0.1;
}



.moto{
  padding-right: 5vw;

text-align:right;
}
footer{
  text-align: center;
  background:#222F34;
  padding-bottom: 5vh;
  padding-left:5vw;
  padding-top:5vh;
  padding-right: 5vw;

  
}
footer h1{
  padding: 1px;;
  text-decoration: underline;
  color: #c4a159;
  font-family: "EB Garamond", serif;
  
}

.contact a{
  color:white;
  text-decoration:none;
}.contact div{
  color:white;
  margin-bottom: 1.5vh;
}

@keyframes txt {
  0% {
    transform: translateX(-100%);

  }
  100% {

    transform: translateX(0);
  }
}
@media (max-width: 1370px) {
  .logo span {
    font-size: 15px;
    top: 66px;
  }
  

}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.car {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  padding-bottom:15vh;
  font-family: 'Lato', sans-serif;
  margin-right: 0;

  
}
.car h1, .bod {
  text-align:center;
  animation: logo 1s 0.6s cubic-bezier(0.575, 0.005, 0.285, 1.005);
  color:black;
  font-family: 'Playball', cursive;
  margin-top:0;

}
.car h1{
  font-size: 2.7em;
    margin-bottom: -3vh;
  margin-right: 3vw;
  font-family: "EB Garamond", serif;
z-index:1;
text-decoration:none;
}
.bod{
  text-decoration: none;
  font-size:0.8em;
}
.bod a{
  color:black;
font-size:2em;

}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  z-index:-1;
  perspective: 100px;
}

.carousel__viewport {
 
  position: absolute;
  top:0;
  right:0;
  bottom:-20vh;
  left:-30vw;
    padding-bottom: 10vh;
   
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(4) {
  background:url("images/bg8.jpg");
  background-size:cover ;
  background-repeat: no-repeat;
  
}
.carousel__slide:nth-child(1) {
  background:url("images/bg-3.jfif");
  background-size:cover ;
  background-repeat: no-repeat;
  
}
.carousel__slide:nth-child(2) {
  background:url("images/bg9.jpg");
  background-size:cover ;
  background-repeat: no-repeat;
  
}
.carousel__slide:nth-child(3) {
  background:url("images/bg7.webp");
  background-size:cover ;
  background-repeat: no-repeat;
  
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  /* background-color: #333; */
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 0;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  
  content: '';
  z-index: 1;
  background-color:none;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
